In [5]:
idade= 18

In [6]:
idade1= 20

idade2= 35

idade1+idade2

55

In [8]:
idade1 + idade2
somaidades=idade1+idade2

In [9]:
idade1-idade2

-15

In [10]:
idade1 * idade2

700

In [11]:
idade1/idade2

0.5714285714285714

In [14]:
idade1 + 10
idade1 - 15 
idade1 * 4 
idade1 / 5

4.0

In [36]:
cálculo1 = 2 *(idade1 + idade2)

In [24]:
cálculo3 = 2 *idade1 +3*idade2/4

In [19]:
cálculo2 = (2*idade1+3*idade2)/4

In [18]:
#Parêntesis
#Expoente
#Multiplicação
#Adição
#Subtração

In [42]:
print(cálculo1, cálculo3, cálculo2)

NameError: name 'cálculo2' is not defined

In [34]:
idade ** 3

5832

In [35]:
15**2

225

In [43]:
idade2%idade1

15

In [44]:
nome="johnny"
sobrenome="pedro"

In [50]:
print(nome + sobrenome)

johnnypedro

In [51]:
print(nome+''+sobrenome)

johnnypedro

In [54]:
print('olá,', nome,'voçê tem',idade+15, 'anos.')

olá, johnny voçê tem 33 anos.

In [55]:
print('olá,',nome,'\n','voçê tem',idade1+15,'anos.')

olá, johnny
 voçê tem 35 anos.

In [56]:
input('Digite o seu nome:')

'marcos almeida de merenda '

In [57]:
idade= input("digite sua idade")

In [58]:
print(idade)

17

In [59]:
type(idade)

str

In [62]:
idade= int(input('Digite sua idade'))

In [63]:
type(idade)

int

In [64]:
print(idade)

17

In [65]:
num1=12
num1-=1
print(num1)

11

In [67]:
num2=12 
num2+=1
print(num2)

13